# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

ass1

In [2]:
d1 = {x : x**2 for x in range(11)}
print(d1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

ass2

In [6]:
print(f"{d1.keys()}")
print(d1[5])

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
25

ass3

In [7]:
d1[11]=121
d1.pop(1)
print(d1)

{0: 0, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

ass4

In [8]:
for key,val in d1.items():
    print(f"{key}:{val}")

0:0
2:4
3:9
4:16
5:25
6:36
7:49
8:64
9:81
10:100
11:121

ass5

In [9]:
d2 = { x : x**3 for x in range(11)}
print(d2)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

ass6

In [12]:
dic1 = { x : x**2 for x in range(1,6)}
dic2 = { x : x**2 for x in range(6,11)}
md = {**dic1,**dic2}
print(md)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

ass7

In [14]:
student = { "name" : "meesha" , "age" : 20 , "grades" : {"math" : 'A' , "english" : 20}}
print(student)

{'name': 'meesha', 'age': 20, 'grades': {'math': 'A', 'english': 20}}

ass8

In [16]:
num = {x : [x*i for i in range(1,6)] for x in range(1,6)}
print(num)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

ass9

In [17]:
di = {x : (x,x**2) for x in range(1,6)}
print(di)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

ass10

In [18]:
dic = {x:x**2 for x in range(1,6)}
print(list(tuple(dic.items())))

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

ass11

In [21]:
sq = { x : x**2 for x in range(1,11)}
newsq = {k : v for k,v in sq.items() if k % 2 == 0}
print(newsq)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

ass12

In [22]:
sq = { x : x**2 for x in range(1,6)}
sq1 = { v : k for k,v in sq.items() }
print(sq1)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

ass13

In [23]:
from collections import defaultdict

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

ass14

In [24]:
def countwrd(word):
    charcount = {}
    for char in word:
        charcount[char] = charcount.get(char,0)+1
    return charcount

print(countwrd("hellooo mish"))

{'h': 2, 'e': 1, 'l': 2, 'o': 3, ' ': 1, 'm': 1, 'i': 1, 's': 1}

ass15

In [25]:
import json
book = {"title" : "one of us is lying", "author" : " Karen M Mcmanus", "year" : 2017, "genre" : "mystry"}
newbook = json.dumps(book)
print(newbook)

{"title": "one of us is lying", "author": " Karen M Mcmanus", "year": 2017, "genre": "mystry"}