# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

ass1

In [1]:
lst = [num for num in range(0,21)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

ass2

In [7]:
lst = list(range(0,21))
print(lst[0])
print(lst[len(lst)//2])
print(lst[len(lst)-1])

0
10
20

ass3

In [11]:
lst = list(range(0,21))
print(lst[0:5])
print(lst[-5:])
print(lst[5:16])

[0, 1, 2, 3, 4]
[16, 17, 18, 19, 20]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

ass4

In [13]:
lst = [ num**2 for num in range(0,10)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

ass5

In [14]:
lst = list(range(0,21))
lst2 = [num for num in lst if num%2==0]
print(lst2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

ass6

In [16]:

import random as rd
lst = [rd.randint(1,20) for _ in range(15)]
print(lst)
print(sorted(lst))
print(sorted(lst, reverse=True))
print(list(set(lst)))

[4, 2, 7, 17, 7, 6, 2, 14, 7, 5, 6, 11, 10, 3, 11]
[2, 2, 3, 4, 5, 6, 6, 7, 7, 7, 10, 11, 11, 14, 17]
[17, 14, 11, 11, 10, 7, 7, 7, 6, 6, 5, 4, 3, 2, 2]
[2, 3, 4, 5, 6, 7, 10, 11, 14, 17]

ass7

In [17]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at second row and third column: 6

ass8

In [18]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key = lambda x: x['score'], reverse=True)
for student in sorted_students:
    print(student)

{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

ass9

In [19]:
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
for row in matrix:
    print(row)
for row in transposed:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

ass10

In [21]:
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print(nested_list)
print("Flattened list:")
print(flattened)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

ass11

In [24]:
lst = list(range(1, 11))
print(lst)
del lst[6]
del lst[4]
del lst[2]
lst.insert(5, 99)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 6, 8, 99, 9, 10]

ass12

In [25]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

ass13

In [26]:
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(original_list)
print(reversed_list)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

ass14

In [27]:
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(original_list)
print(rotated_list)

[1, 2, 3, 4, 5]
[3, 4, 5, 1, 2]

ass15

In [28]:
def list_intersection(lst1, lst2):
    return [x for x in lst1 if x in lst2]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list_intersection(list1, list2)
print(f"Intersection: {intersection}")

Intersection: [3, 4, 5]

EXTRA QUESTIONS:

In [1]:
def remove_duplicates(lst):
    # Your code goes here
    uniqueList = []
    for items in lst:
        if items not in uniqueList:
            uniqueList.append(items)
    return(uniqueList)
    
print(remove_duplicates([1,2,3,2,3,5,3,4,4]))

[1, 2, 3, 5, 4]

In [2]:
def find_largest(numbers):
    # Your code goes here
    maxi = numbers[0]
    for num in numbers:
        if (num > maxi):
            maxi = num
        else:
            continue
    return maxi
    
print(find_largest([3,8,2,10,5]))

10

In [3]:
def sum_list(numbers):
    # Your code goes here
    sum = 0
    for num in numbers:
        sum += num
    return sum
print(sum_list([1,2,3,4,5]))

15

In [4]:
def check_unique(lst):
    # Your code goes here
    for ele in lst:
        count = 0
        for num in lst :
            if(ele == num):
                count += 1
                if(count > 1):
                    return False
            else:
                continue
    return True
print(check_unique([1,2,3,2,4,5]))

False

In [5]:
def reverse_list(lst):
    # Your code goes here
    x = 0
    y = len(lst)-1
    while(x<y):
        ran = lst[x]
        lst[x] = lst[y]
        lst[y] = ran
        x += 1
        y -= 1
    return lst
print(reverse_list([1,2,3,4,5]))

[5, 4, 3, 2, 1]

In [6]:
def count_even_odd(lst):
    # Your code goes here
    eve = 0 
    odd = 0
    for elem in lst:
        if(elem % 2 == 0):
            eve += 1
        else:
            odd += 1
    countelem = (eve,odd)
    return(countelem)
print(count_even_odd([1,2,3,4,5,6]))

(3, 3)

In [7]:
def is_subset(lst1, lst2):
    # Your code goes here
    count = 0
    for elem in lst1:
        for el in lst2:
            if(el == elem):
                count += 1
                break
    if(count == len(lst1)):
        return True
    else:
        return False
        
print(is_subset([1,2,3],[1,2,3,4,5]))

True

In [8]:
def max_consecutive_difference(lst):
    # Your code goes here
    maxi = 0
    for i in range(len(lst) - 1):
        diff = abs(lst[i] - lst[i+1]) 
        if(diff > maxi):
            maxi = diff
    return maxi
    
print(max_consecutive_difference([1,7,3,10,5]))

7